/*body.exhibitors-list {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: gray;
}

body.exhibitors-list .navbar {
	width: 1100px;
	overflow-x: scroll;
}
body.exhibitors-list .navbar .navbar-inner {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
body.exhibitors-list .navbar .navbar-inner .nav {
	width: auto;
	margin-right: 0;
}*/