// TWITTER
//@import "../bower_components/sass-bootstrap/lib/bootstrap";
@import "../bower_components/sass-bootstrap/lib/variables";
@import "../bower_components/sass-bootstrap/lib/mixins";
@import "../bower_components/sass-bootstrap/lib/scaffolding";

@import "../bower_components/sass-bootstrap/lib/component-animations";
@import "../bower_components/sass-bootstrap/lib/modals";
@import "../bower_components/sass-bootstrap/lib/buttons";
@import "../bower_components/sass-bootstrap/lib/list-group";
@import "../bower_components/sass-bootstrap/lib/pagination";
@import "../bower_components/sass-bootstrap/lib/carousel";
@import "../bower_components/sass-bootstrap/lib/badges";
@import "../bower_components/sass-bootstrap/lib/tables";
@import "../bower_components/sass-bootstrap/lib/button-groups";
@import "../bower_components/sass-bootstrap/lib/navs";


// BASE
@import "base/topcoat";
@import "base/base";
@import "base/colors";
@import "base/utilities";

@import "base/glyphicons-font";
@import "base/amc-font";
@import "base/font-overrides";

// COMPONENTS
@import "components/mobile_nav";
@import "components/header";
@import "components/exhibitor_detail";
@import "components/exhibitors_list";
@import "components/exhibitor";
@import "components/tabs";

@import "components/search-bar";
@import "components/search-context-buttons";
@import "components/search-results";


@media (min-device-width: 320px) and (min-device-height: 568px) {

  .amc-search-list .amc-search-list__item-detail .amc-search-list__item-detail-image,
  .amc-search-list .amc-search-list__item-detail .amc-search-list__item-detail-data{
    width: 270px;
    height: 270px;
  }

  .amc-search-list .amc-search-list__wrapper{
    width: 715px;
  }

  .amc-search-floors .amc-search-floors__wrapper .amc-search-floors__scroll-area {
    width: 950px;
  }

  .amc-search-floors .amc-search-floors__item{
    width: 270px;
  }

  .amc-search-maps .amc-search-maps__wrapper .amc-search-maps__item{
    width: 290px;
  }




}

@media (min-device-width: 360px) and (min-device-height: 640px) {
  .amc-search-floors .amc-search-floors__item{
    width: 300px;
  }

  .amc-search-maps .amc-search-maps__wrapper .amc-search-maps__item{
    width: 324px;
  }
}

@media (min-device-width: 384px) and (min-device-height: 592px) {

  .amc-search-list .amc-search-list__item-detail .amc-search-list__item-detail-image,
  .amc-search-list .amc-search-list__item-detail .amc-search-list__item-detail-data{
    width: 350px;
    height: 350px;
  }

  .amc-search-list .amc-search-list__wrapper{
      width: 715px;
  }

  .amc-search-floors .amc-search-floors__wrapper .amc-search-floors__scroll-area {
    width: 1150px;
  }

  .amc-search-floors .amc-search-floors__item{
    width: 340px;
  }

  .amc-search-maps .amc-search-maps__wrapper .amc-search-maps__item{
    width: 348px;
  }
}




