@import '../bower_components/sass-bootstrap/lib/variables';
@import '../bower_components/sass-bootstrap/lib/mixins';

// twitter override
.navbar-toggle {float: left;}
.mobile-nav{display:none;}
@media (max-width: $screen-tablet) {
  .body-content{
    position:relative;
    left:0;
    -webkit-transition: all 0.1s ease-in-out;
  }
  .showing-menu{
    overflow: hidden;
    .body-content{
      position:absolute;
      left:320px;
      -webkit-transition: all 0.1s ease-in-out;
    }

    .mobile-nav{
      left: 0;
      display:block;
      z-index:100;
      -webkit-transition: all 0.1s ease-in-out;
    }
  }
  .mobile-nav{
    height: 100%;
    position: fixed;
    width: 320px;
    left:-320px;
    top: 40px;
    bottom: 0;
    display:block;
    background-color: #222;
    -webkit-transition: all 0.1s ease-in-out;
  }
  section.side-nav{
    overflow:scroll !important;
  }
  .side-nav ul{
    padding: 20px 20px 10px 20px;
    list-style:none;
    a{
      color: #5d5d5d;
      display:block;
      margin: 0;
      padding: 5px 0 5px 10px;
      font-size: 1.2em;
      .glyphicon{
        float:right;
      }
      &:hover{
        color: #fff;
        text-decoration: none;
      }
      &:active{
        color: #fff;
      }
      &.active{
        color: #fff;
      }
    }
  }
  // twitter override
  .navbar-brand {
    float:left;
  }
  // twitter override
  .navbar-toggle {
    margin-left: 10px;
  }
}



