@import '../base/colors';

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.icon-plus {
  font-size: 2em;
  background-color: $lightest-gray;
  color: $gray;
  border: $card-border;
  border-radius: $card-border-radius;
  vertical-align: top;
  cursor: pointer;
}

.icon-building1:before,
.icon-building2:before,
.icon-building3:before {
  vertical-align: middle;
}

.icon-building1:before {
  color: $building-1;
}

.icon-building2:before {
  color: $building-2;
}

.icon-building3:before {
  color: $building-3;
}

