.col-lg-4 {
	width: 33.33333%;
}

.amc-clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

body.exhibitor {

	background-color: white;
	padding: 0 !important;

	// .body-touch-listener {
	// 	padding: 0 !important;
	// }

	.main-content {
		padding-top: 2.8em;

		.main-view {
			position: static !important;
			padding: 0 !important;
		}
	}

	div.company-photos-container{
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;

	  ul.thumbnail-list {
	  	margin: 0 auto 14px;
	    list-style: none;
	    width: 610px;
	    clear: both;
	    overflow: hidden;
	    padding-left: 0;

	    > li {
	      position: relative;
	      width: 200px;
	      height: 200px;
	      outline: 1px #ddd solid;
	      float: left;
	      margin-right: 5px;
	      background-color: #e8e9e9;

	      img {
	      	width: 200px;
	      }
	    }

	    li:last-child {
	      margin-right: 0;
	    }
	  }
	}

	div.logo-short-info {
		padding: 10px;
		img {
			display: block;
			margin: 0 auto;
			width: 175px;
		}

		p {
			font-size: 14px;
			color: #919296;
			line-height: 18px;
		}
	}

	.action-menu-list {
		padding: 0 10px;

		> ul {
			
			li.heading {
				position: relative;

				img.plus-icon {
					position: absolute;
					top: 10px;
					right: 10px;
					width: 40px;
				}
			}

			li.list-group-item {


				background-color: #fafafa;
				color: #5a5a5a;

				ul.product-lines-list, ul.categories-list {
					list-style: square;

					li {
						color: #999999;
					}
				}

				img.notes-icon, img.calendar-icon {
					width: 20px;
				}

				h4 {
					color: #7F7F7F;
					display: inline-block;
					img.triangle-icon {
						width: 43px;
						height: 38px;
						display: inline-block;
					}
				}

				p.list-group-item-text {
					color: #919296;
					display: inline-block;
				}

				span.li-icon {
					position: absolute;
					top: 10px;
					right: 15px;
				}
			}

			> li:first-child {
				background-color: white;
			}
			
			span.more {
				color: #00acee;
			}

		}
	}

	div.exhibitor-footer {

		padding: 10px;

		div.contact-info, div.staff-info {
			
			h4.contact, h4.staff {
				color: #7F7F7F;
				font-weight: normal;
				margin-bottom: 10px;
			}

			.table-info, .table-contact {
				color: #7F7F7F;

				td {
					border-top: none;
					padding: 5px 0px;

					&.mail_url {
						color: #00acee;
					}

					&.staff-contact {
						text-align: right;
						padding-right: 20px;
					}

					a {
						color: #00acee;
					}

					a:hover, a:active {
						text-decoration: none;
						cursor: pointer;
					}
				}

			}

		}

		div.sales-representatives {
			margin-bottom: 60px;

			label {
				color: #7F7F7F;
				display: block;
				font-weight: normal;
				margin-bottom: 10px;
			}

			.styled select {
			   background: transparent;
			   width: 100%;
			   padding: 5px;
			   font-size: 16px;
			   border: 1px solid #ccc;
			   height: 34px;
			    -webkit-appearance: none;
			    border-radius: 0;
			    color: #7a7a7a;

			} 

			.styled i {
				position: absolute;
				float: right;
				top: 9px;
				right: 10px;
				color: #7a7a7a;
				font-weight: 200;
			}

			.styled{
			   width: 100%;
			   max-width: 400px;
			   height: 34px;
			   overflow: hidden;
			   background: url(../images/exhibitor/icon-down.gif) no-repeat 96% 11px #f6f6f6;
			   position: relative;

			}
		}

	
	}

}


