.company-header {
	font-size: 18px;
	border: none;
	text-align: center;
	border-radius: 0px !important;
	border-bottom: 1px solid #cccccc;
	color: #aaa;
	font-weight: bold;
}

span.more, .action-btns {
	color: #26d2ff;
}

.btns-wrapper button {
	border-radius: 0;
}

.centered {
	text-align: center;
}

.inline-btn {
	display: block;
	width: 49.5%;
	float: left;
}

.inline-btn:first-child {
	margin-right: 1%;
}

p.inline-btns {
	clear: both;
	overflow: hidden;
}
