.company-header {
	border: none;
	text-align: center;
	border-radius: 0px !important; 
	border-bottom: 1px solid #cccccc;
	color: #aaa;
	font-weight: bold;
}

span.more, .action-btns {
	color: #26d2ff;
}

.centered {
	text-align: center;
}

.inline-btn {
	display: inline-block;
	width: 49.5%;
}