@import '../../bower_components/sass-bootstrap/lib/variables';
@import '../../bower_components/sass-bootstrap/lib/mixins';

// twitter override
.navbar-toggle {float: left;}
.mobile-nav{display:none;height:100%;}
.login-button{
  float:right;
  margin: 7px 10px 0 0;
}
@media (max-width: $screen-tablet) {

  .body-content{
    position:relative;
    margin-top:60px;
    left:0;
    height:100%;
  }

  .main-view{
    height: 100%;
    position: fixed;
    width:100%;
  }
  .drawer{
    position:absolute;
    width: 320px;
    left:-320px;
    top: 40px;
    bottom: 0;
    display:block;
    background-color: #222;
  }
  .side-nav ul{
    padding: 20px 20px 10px 20px;
    list-style:none;

    a{
      color: #5d5d5d;
      display:block;
      margin: 0;
      padding: 5px 0 5px 10px;
      font-size: 1.2em;
      .glyphicon{
        float:right;
      }
      &:hover{
        color: #fff;
        text-decoration: none;
      }
      &:active{
        color: #fff;
      }
      &.active{
        color: #fff;
      }
    }
  }

  // twitter override
  .navbar-brand {
    float:left;
  }
  // twitter override
  .navbar-toggle {
    margin-left: 10px;
  }
}



