@import '../../bower_components/sass-bootstrap/lib/variables';
@import '../../bower_components/sass-bootstrap/lib/mixins';

// twitter override
.navbar-toggle {float: left;}
.mobile-nav{display:none;height:100%;}
.login-button{
  float:right;
  margin: 7px 10px 0 0;
}
@media (max-width: $screen-tablet) {
  body{
    overflow: hidden;
  }

  .navbar{
    position:absolute;
  }

  .main-view{
    height: 100%;
    display:-moz-box;
    display:-webkit-box;
    display: box;
    text-align: left;
    width:100%;
    position:absolute;
    bottom:0;
  }

  .drawer{
    position:absolute;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-ordinal-group: 1;
    -webkit-box-flex: 1;
    width: 260px;
    left:-260px;
    display:block;
    background-color: #222;
    overflow-y: auto;
    bottom:0;
    top:0;
    height: 100%;
  }

  .body-content{
    position:absolute;
    bottom:0;
    top:0;
    padding-top: 120px;
    overflow-y:auto;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-ordinal-group: 2;
    width: 100%;
  }

  .side-nav ul{
    padding: 20px 20px 10px 20px;
    list-style:none;

    a{
      color: #5d5d5d;
      display:block;
      margin: 0;
      padding: 5px 0 5px 10px;
      font-size: 1.2em;
      .glyphicon{
        float:right;
      }
      &:hover{
        color: #fff;
        text-decoration: none;
      }
      &:active{
        color: #fff;
      }
      &.active{
        color: #fff;
      }
    }
  }

  // twitter override
  .navbar-brand {
    float:left;
  }
  // twitter override
  .navbar-toggle {
    margin-left: 10px;
  }
}



