@import '../base/colors';

.amc-search-list {
  .amc-search-list__wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    padding-top: 100px;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .amc-search-list__scroll-area {
    width: 100%;
  }

  .amc-search-list__item {

    .item-bar {
      width: 100%;
      overflow-x: auto;
      height: 100%;
      background-color: $white;
      h2, > span {
        display: table-cell;
        a {
          display: block;
          color: $dark-gray;
          font-weight: normal;
          &:link, &:hover, &:active, &:visited {
            color: $dark-gray;
            text-decoration: none;
          }
        }
        span {
          font-weight: normal;
          font-size: .8em;
          color: $dark-gray;
        }
      }
      h2 {
        font-size: 1.2em;
        padding: 10px;
      }
    }
  }
  .amc-search-list__item-detail {
    padding: 5px;
    background-color: $light-gray;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    img {
      width: 100%;

    }
    div {
      background-color: $white;
      padding: 5px;
      min-height: 260px;
      max-height: 300px;

      ul {
        color: $amc-blue;
        list-style: square;
        margin-left: 0;
        padding-left: 20px;
        li {
          span {
            color: $dark-gray;
          }

        }
      }
    }
    .amc-search-list__item-detail-wrapper {
      width: 700px;
      background-color: $light-gray;
      > div {
        float: left;
        width: 260px;
        position: relative;
        margin: 5px;
      }
    }
    .amc-search-list__item-detail-image {
      border: $card-border;
      border-radius: $card-border-radius;
    }
    .amc-search-list__item-detail-data {
      padding-left: 20px;
      border: $card-border;
      border-radius: $card-border-radius;
      h2 {
        color: $dark-gray;
        font-weight: normal;
        font-size: 1em;
        padding: 0;

      }
    }
  }
}

.amc-search-maps {
  .amc-search-maps__wrapper {
    overflow-x: scroll;
    padding: 5px;
    background-color: $light-gray;
    position: relative;
    -webkit-overflow-scrolling: touch;
    .amc-search-maps__scroll-area {
      width: 700px;
    }
    .amc-search-maps__item {
      display: inline-table;
      overflow-x: auto;
      background-color: $white;
      float: left;
      position: relative;
      width: 260px;
      margin: 5px;
      padding: 5px;
      min-height: auto;
      max-height: auto;
      h2, > span {
        display: table-cell;
        a {
          display: block;
          color: $dark-gray;
          font-weight: normal;
          &:link, &:hover, &:active, &:visited {
            color: $dark-gray;
            text-decoration: none;
          }
        }
        span {
          font-weight: normal;
          font-size: .8em;
          color: $dark-gray;
        }
      }
      h2 {
        font-size: 1.2em;
        padding: 10px;
      }
    }
  }

}

.amc-search-floors {
  .amc-search-floors__wrapper {
    overflow: scroll;
    position: fixed;
    padding-top: 100px;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .amc-search-floors__scroll-area {
    width: 1000px;

  }
  .amc-search-floors__item {
    display: inline-block;
    width:270px;
    position: relative;
    margin-right:38px;
  }

  i.icon-arrow-down{
    color: $light-gray;
  }
  .alt-bridge:before{
    border-radius:0;
    border: 0;
    background-color: transparent;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 20px solid #edd69b;

    content:'\e072';
    color: $white;
    font-size: 2.0em;
    position: relative;
  }
  h2 {
    text-align: center;
    font-weight: normal;
    margin: 5px 0 0 0;
    color: $dark-gray;
    span {
      font-size: 1.2em;
    }
    i {
      float: none;
      font-size: 1.6em;
    }
  }
  ul {
    margin-left: -38px;
    li {
      color: $dark-gray;
      background-color: $light-gray;
      border: 1px solid $white;
      border-radius: $card-border-radius;
      display: inline-table;
      width: 100%;
      margin-left:20px;
      position:relative;
      span:first-child {
        text-align: center;
        width: 45px;
      }
      &:before {
        border: 1px solid $white;
        padding: 5px;
        border-radius: $card-border-radius;
        font-family: 'AMC';
        display: table-cell;
        vertical-align: middle;
        color: $white;
        content: "\e009";
        font-size: 2.0em;
        position: relative;
        background-color: #edd69b;
        width: 40px;
        left:-45px;
      }
      .floor {
        padding: 3px;
        background-color: $building-3-darken;
      }
      span, i {
        display: table-cell;
        vertical-align: middle;
      }
      .icon-arrow-down {
        text-align: center;
        width: 40px;
        font-size: 2em;
      }

      &.no-bridge:before {
        background-color: $white;
      }
      &.no-bridge--white, &.no-bridge--white:before {
        background-color: $white;
      }
    }
  }
  //.basement{
  //  background-color: $lightest-gray;
  //  i{
  //    color: $lightest-gray;
  //  }
  //  &:before{
  //    font-size: 1em;
  //  }
  //  .floor-result-container{
  //    top:0;
  //  }
  //  .floor-result-container:first-child{
  //    height: 20px;
  //  }
  //}
}

.amc-search-results {
  .result-count {
    color: $white-opacity;
    padding: 3px;
    vertical-align: middle;
    text-align: right;
  }

  .hasResults-building1,
  .hasResults-building2,
  .hasResults-building3 {
    span, i{
      padding:0;
      vertical-align:middle;
    }
    i{
      color: $white-opacity;
      vertical-align: middle;
      padding-top: 3px;
      margin-left: 7px;
    }
    .amc-toolbar-buttons{
      display:inline-block;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      padding: 10px 0 10px 0;
    }
    .amc-toolbar-button{
      border-radius: 5px;
      background-color: $black-opacity;
      padding: 5px;
      color: $white;
      font-size: 2.5em;
    }
    &.fixed-top{
      position:fixed;
      left:0;
      margin:0;
      width: 100%;
      padding: 10px;
    }
    &.header{
      top: 94px;
    }
    &.toolbar{
      top: 134px;
    }
    .divider{
      border:none;
      border-bottom:1px solid $white-opacity;
      margin:0 0 10px 0;
    }
  }

  .floor-result-container{
    height: 100%;
    position: absolute;
    top:2px;
    left: 0px;
    vertical-align: middle;
    width: 100%;
    display:inline-table;
    &:first-child{
      height:44px;
    }
    .floor-subject{
      padding-left:10px;
    }
  }
  .hasResults-building1 {
    color: $white;
    background-color: $building-1;
    .floor-building1 {
      background-color: $black-opacity;

    }
  }
  .hasResults-building2 {
    color: $white;
    background-color: $building-2;
    .floor-building2 {
      background-color: $black-opacity;
    }
  }
  .hasResults-building3 {
    color: $white;
    background-color: $building-3;
    .floor-building3 {
      background-color: $black-opacity;
    }
  }

  // bootstrap overwrite
  .nav-tabs {
    position: absolute;
    z-index: 2;
  }
  .tab-pane {
    padding-top: 60px;
  }
}

.search-panel {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-search-results {
  background-color: $white;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 95px;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){}

