@import '../base/colors';

.search-bar {
  display: inline-table;
  width: 100%;
  background-color: $white;
  z-index: 2;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  .search-bar__search-input {
    position: relative;
    width: 100%;
    padding-right: 5px;
    display: table-cell;
    .search-bar__clear-search-button {
      position: absolute;
      top: 1px;
      right:6px;
      height: 30px;
      color: $gray;
      font-size: 1.7em;
    }
  }
}
