@import '../base/colors';
.clearfix {
  float:none;
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.amc-search-results {
  .amc-search-results__result {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    height: 100%;
    background-color: $white;
    h2, > span {
      display: table-cell;
      a {
        display: block;
        color: $dark-gray;
        font-weight: normal;
        &:link, &:hover, &:active, &:visited {
          color: $dark-gray;
          text-decoration: none;
        }
      }
      span {
        font-weight: normal;
        font-size: .8em;
        color: $dark-gray;
      }
    }
    h2 {
      font-size: 1.2em;
      padding: 10px;
    }
  }

  .amc-search-results__result-detail {
    padding: 5px;
    background-color: $light-gray;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    .amc-search-results-container {
      width: 700px;
      background-color: $light-gray;
      > div {
        float: left;
        width: 260px;
        position: relative;
        margin: 5px;
      }
    }
    img {
      width: 100%;

    }
    div {
      background-color: $white;
      padding: 5px;
      min-height: 260px;
      max-height: 300px;

      ul {
        color: $amc-blue;
        list-style: square;
        margin-left: 0;
        padding-left: 20px;
        li {
          span {
            color: $dark-gray;
          }

        }
      }
    }
    .amc-search-results__image {
      border: $card-border;
      border-radius: $card-border-radius;
    }
    .amc-search-results__result-detail--data {
      padding-left: 20px;
      border: $card-border;
      border-radius: $card-border-radius;
      h2 {
        color: $dark-gray;
        font-weight: normal;
        font-size: 1em;
        padding: 0;

      }
    }
  }
  .amc-search-results__result-detail--collapsed {
    padding: 5px;
    background-color: $light-gray;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    .amc-search-results-container {
      width: 700px;
      > div {
        float: left;
        position: relative;
        width: 260px;
        margin: 5px;
        background-color: $white;
        padding: 5px;
        min-height: auto;
        max-height: auto;
      }
    }
  }
  .amc-search-results__result--floors-container{
    overflow:scroll;
    width: 900px;
    > div {
      float: left;
      width: 270px;
      position: relative;
    }
  }
  .amc-search-results__result--floor {

    h2 {
      text-align: center;
      font-size: 1.5em;
      font-weight: normal;
      margin: 5px 0 0 0;
      color: $dark-gray;

      i {
        float: none;
        font-size: 2.5em;
        vertical-align: middle;
      }
    }
    ul {
      margin-left: -50px;
      li {
        color: $dark-gray;
        background-color: $light-gray;
        border: 1px solid $white;
        border-radius: $card-border-radius;
        display: inline-table;
        width: 100%;
        span:first-child {
          text-align: center;
          width: 45px;
        }
        &:before {
          font-family: 'AMC';
          display: table-cell;
          vertical-align: middle;
          color: $white; /* set color to red */
          content: "\e009"; /* /2022 is the numerical unicode for &bull; */
          font-size: 2.7em;
          position: relative;
          background-color: #edd69b;
          width: 40px;
          border-right: 1px solid $white;
        }
        .floor {
          padding: 3px;
          background-color: $building-3-darken;
        }
        span, i {
          display: table-cell;
          vertical-align: middle;
        }
        .icon-arrow-down {
          text-align: center;
          width: 40px;
          font-size: 2em;
        }
        &.no-bridge:before {
          background-color: $white;
        }

      }
    }
    .hasResults {
      color: $white;
      background-color: $building-3;
      .floor {
        border-top: 15px solid $building-3;
        border-right: 10px solid $building-3;
        border-bottom: 15px solid $building-3;
        border-left: 10px solid $building-3;
      }
      .result-count {
        color: $white-opacity;
        padding: 3px;
        vertical-align: middle;
        text-align: right;
      }
      i {
        color: $white-opacity;
        vertical-align: middle;
        padding-top: 3px;
        margin-left: 7px;
      }
    }
  }
}

.search-panel {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-search-results {
  background-color: $white;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 95px;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
}

