<div class="carousel slide auto panel-body" id="c-slide">
  <ol class="carousel-indicators out">
    <li data-target="#c-slide" data-slide-to="0" class=""> </li>
    <li data-target="#c-slide" data-slide-to="1" class=""> </li>
    <li data-target="#c-slide" data-slide-to="2" class="active"> </li>
  </ol>
  <div class="carousel-inner">
    <div class="item">
      <p class="text-center">
        <em class="h4 text-mute">Save your time</em>
        <br>
        <small class="text-muted">Many components</small>
      </p>
    </div>
    <div class="item">
      <p class="text-center">
        <em class="h4 text-mute">Nice and easy to use</em>
        <br>
        <small class="text-muted">Full documents</small>
      </p>
    </div>
    <div class="item active">
      <p class="text-center">
        <em class="h4 text-mute">Mobile header first</em>
        <br>
        <small class="text-muted">Mobile/Tablet/Desktop</small>
      </p>
    </div>
  </div>
  <a class="left carousel-control" href="#c-slide" data-slide="prev">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="right carousel-control" href="#c-slide" data-slide="next">
    <i class="icon-chevron-right"></i>
  </a>
</div>