<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
		<div class="action-menu-list">
	    
			<ul class="list-group">
			  <li class="list-group-item heading">
			  	<h4 class="list-group-item-heading">
			  		<img class="triangle-icon" src="images/mock_elements/triangle.png" alt="triangle">13 - 1100
			  	</h4>
			    <p class="list-group-item-text">Atlanta Fall Gift & Home Furnishings Market&#169 and Atlanta Gourmet Market</p>
			    <img class="plus-icon" src="images/mock_elements/plus.png" alt="plus">
			  </li>
			  <li class="list-group-item">Product Lines
					<!-- <ul class="topcoat-list side-nav__list">
	      		<li>Abigails</li>
	      		<li>Art Classics, Ltd.</li>
	      		<li>Arteriors</li>
	      		<li>Article</li>
	      		<li>BSC</li>
	      		<span class="more">More</span>
	      	</ul> -->
	      	<span class="li-icon pull-right">12</span>
			  </li>
			  <li class="list-group-item">Categories
					<!-- <ul class="topcoat-list side-nav__list">
	      		<li>Acrylic/Lucite/Plastics</li>
	      		<li>Artwork/Fine Art/Prints</li>
	      		<li>Bath Accessories, Fixtures</li>
	      		<li>Beds</li>
	      		<li>Books/Publications</li>		
	      		<span class="more">More</span>
	      	</ul> -->
	      	<span class="li-icon pull-right">22</span>
			  </li>
			  <li class="list-group-item">Add Note<img class="notes-icon pull-right" src="images/mock_elements/notes.png" alt="plus"></li>
			  <li class="list-group-item">Add time to My Market Plan<img class="calendar-icon pull-right" src="images/mock_elements/calendar.png" alt="plus"></li>
			</ul>

		</div>
  </div>
</div>