<div class="row">
  <div class="col-lg-12">
    <ul class="list-group exh-accordion">
      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body1">H.Raines Studios<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body1" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>
      
      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body2">Habarsham Candie Co.<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body2" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body3">Hadaki by kalencom<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body3" class="collapse in exh-accordion-body">
        <div class="company-info-container">
          <ul class="thumbnail-list">
            <li class="thumbnail">
              <div class="inner-block">
                <div class="logo">LOGO</div>
                <h2>Hadaki</h2>
                <h2 class="adress building">Building <span class="badge">2</span></h2>
                <h2 class="adress floor">FLOOR: 4 (1100)</h2>
              </div>
              <a href="#">
                <button type="button" class="btn btn-primary btn-lg btn-block add_to_market_plan">ADD TO MY MARKET! PLAN</button>
              </a>
            </li>
            <li class="thumbnail about">
              <div class="inner-block">
                <h2>About</h2>
                <p>Affordable luxury and fashionable function -</p>
                <p>Hadaki products feature top quality materials and fine workmanship, Based in New Orleans.</p>
              </div>
            </li>
            <li class="thumbnail prodlines">
              <div class="inner-block">
                <h2>Product Lines</h2>
                <ul>
                  <li>Handbags</li>
                  <li>Bags & Totes</li>
                  <li>Jewelry Accessories</li>
                  <li>Fashion Accessories</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body4">Hailey Logan<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body4" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body5">Halcyon Home Decor<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body5" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body6">Halh United<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body6" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body7">H.Raines Studios<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body7" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body8">Hammond's Candies<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body8" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body9">Hanah Silk Hand-Dyed Ribbon<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body9" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

			<button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body10">Hand & Heart, Inc<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body10" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>

      <button class="list-group-item exh-heading" type="button" data-toggle="collapse" data-target="#acc_body11">Handrafted Pewter<i class="glyphicon glyphicon-chevron-down pull-right"></i></button>
      <li id="acc_body11" class="collapse exh-accordion-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>
    </ul>
  </div>
</div>
