<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">

    <div class="exhibitor-footer">

      <div class="contact-info">
        <h4 class="contact">Contact</h4>
        <table class="table table-info table-condensed">   
          <tbody>  
            <tr>  
              <td>Phone:</td>  
              <td>(404) 584-2599</td>  
            </tr>  
            <tr>  
              <td>Fax:</td>  
              <td>(404) 584-6352</td>  
            </tr>
            <tr>  
              <td>Email:</td>  
              <td class="mail_url"><a href="mailto:sales@jdouglas.com">sales@jdouglas.com</td>  
            </tr>
            <tr>  
              <td>URL:</td>  
              <td class="mail_url"><a href="jdouglas.com">jdouglas.com</a></td>  
            </tr>  
          </tbody>  
        </table>

      </div>

      <hr>

      <div class="staff-info">
        <h4 class="staff">Staff:</h4>
        <table class="table table-contact table-condensed">   
          <tbody>  
            <tr>  
              <td>Vishi Gondi</td>  
              <td class="staff-contact">contact</td>  
            </tr>  
            <tr>  
              <td>Fadi Eliya</td>  
              <td class="staff-contact">contact</td>  
            </tr>
          </tbody>  
        </table>
      </div>

      <hr>

      <div class="sales-representatives">
        <label for="sales-reps">Sales Representatives</label>

        <div class="row">
          <div class="styled">
            <!-- <i class="glyphicon glyphicon-chevron-down pull-right"></i> -->
            <select name="sales-reps" id="sales-reps">
              <option>select</option>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>