<div class="topcoat-navigation-bar"
     toggle-search="isSearchDrawerOpen"
     toggle-drawer="isNavDrawerOpen">
  <div class="topcoat-navigation-bar__item left quarter">

    <a id="slide-menu-button"
       class="topcoat-icon-button--quiet slide-menu-button"
       ng-click="toggleNav()">

      <span class="topcoat-icon topcoat-icon--menu-stack"></span>

    </a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">America's Marts</h1>
  </div>
  <div class="topcoat-navigation-bar__item right quarter">
    <a ng-click="toggleSearch()" class="topcoat-icon-button">
      <span class="glyphicon glyphicon-search"></span>
    </a>
  </div>
</div>
