<img style="width:100%;" src="images/floorplans/amc-B3-13.svg"/>
<div class="amc-search-maps__wrapper">
  <div class="amc-search-maps__scroll-area">
    <div class="amc-search-maps__item">
      <h2 style="width:100%">
        <a href="">
          Exhibitor Name
        </a>
        <span style="font-weight: bold">B1</span>
        <i class="icon-building2"></i>
        <span>22</span>
        <span>&dash;</span>
        <span>8231</span>
      </h2>

      <span style="vertical-align: middle;padding-right:5px;" ng-click="addMeToFavorites()">
        <i class="icon-plus"></i>
      </span>
    </div>
    <div class="amc-search-maps__item">
      <h2 style="width:100%">
        <a href="">
          Exhibitor Name
        </a>
        <span style="font-weight: bold">B1</span>
        <i class="icon-building2"></i>
        <span>22</span>
        <span>&dash;</span>
        <span>8231</span>
      </h2>

      <span style="vertical-align: middle;padding-right:5px;" ng-click="addMeToFavorites()">
        <i class="icon-plus"></i>
      </span>
    </div>
  </div>
</div>