<div class="amc-search-floors__wrapper">
  <div class="amc-search-floors__scroll-area">
    <div class="amc-search-floors__item">
      <h2>
        <span>Building</span>
        <i class="icon-building1"></i>
      </h2>
      <ul>
        <li class="no-bridge">
          <span>24</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>23</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>22</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>21</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>20</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>19</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>18</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>17</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>16</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>15</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building1 no-bridge">
          <span class="floor-building1">14</span>
          <span>Home Design</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building-1 no-bridge">
          <span class="floor-building1">13</span>
          <span>Home Design</span>
          <span class="result-count">2325</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>12</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>11</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building1 no-bridge">
          <span class="floor-building1">10</span>
          <span>Prom / Bridal / Occasions</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>9</span>
          <span>Women's Apparel</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>8</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>7</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>6</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>5</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>4</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>3</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>2</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>1</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
      </ul>
    </div>

    <div class="amc-search-floors__item">
      <h2>
        <span>Building</span>
        <i class="icon-building2"></i>
      </h2>
      <ul>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li>
          <span>18</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>17</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>16</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>15</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building2">
          <span class="floor-building2">14</span>
          <span>Home Design</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building2">
          <span class="floor-building2">13</span>
          <span>Home Design</span>
          <span class="result-count">2325</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>12</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>11</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building2">
          <span class="floor-building2">10</span>
          <span>Prom / Bridal / Occasions</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>9</span>
          <span>Women's Apparel</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>8</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>7</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>6</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>5</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>4</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>3</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>2</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>1</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
      </ul>
    </div>
    <div class="amc-search-floors__item">
      <h2>
        <span>Building</span>
        <i class="icon-building3"></i>
      </h2>
      <ul>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>
        <li class="no-bridge--white"></li>

        <li>
          <span>15</span>
          <span>Penthouse Theater</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building3">
          <span class="floor-building3">14</span>
          <span>Home Design</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building3">
          <span class="floor-building3">13</span>
          <span>Home Design</span>
          <span class="result-count">2325</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>12</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>11</span>
          <span>Prom / Bridal / Occasions</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="hasResults-building3">
          <span class="floor-building3">10</span>
          <span>Prom / Bridal / Occasions</span>
          <span class="result-count">5</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li class="no-bridge">
          <span>9</span>
          <span>Women's Apparel</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>8</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>7</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>6</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>5</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>4</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>3</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>2</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
        <li>
          <span>1</span>
          <span>Fashion Accessories / Shoes</span>
          <i class="icon-arrow-down"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

