<div class="topcoat-button-bar full" >
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full"
            ng-click="setListSearchContext()">LIST</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full"
            ng-click="setMapSearchContext()">MAP</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full"
            ng-click="setFloorSearchContext()">FLOORS</button>
  </div>
</div>

