<section>
  <div class="amc-search-results__result--floor">
    <h2>
      <span>Building</span>
      <i class="icon-building3"></i>
    </h2>
    <ul>
      <li>
        <span>15</span>
        <span>Penthouse Theater</span>
        <span>5</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </li>
      <li class="hasResults">
        <span class="floor">14</span>
        <span>Home Design</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
        <span class="result-count">5</span>
      </li>
      <li class="hasResults">
        <span class="floor">13</span>
        <span>Home Design</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
        <span class="result-count">2325</span>
      </li>
      <li>
        <span>12</span>
        <span>Prom / Bridal / Occasions</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </li>
      <li>
        <span>11</span>
        <span>Prom / Bridal / Occasions</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </li>
      <li class="hasResults">
        <span class="floor">10</span>
        <span>Prom / Bridal / Occasions</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
        <span class="result-count">5</span>
      </li>
      <li>
        <span>9</span>
        <span>Women's Apparel</span>
        <span>5</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </li>
      <li>
        <span>8</span>
        <span>Fashion Accessories / Shoes</span>
        <span>5</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </li>
    </ul>
  </div>
</section>