<div class="topcoat-button-bar full" >
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full active"
            ng-click="tabs[0].active = true">LIST</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full"
            ng-click="tabs[1].active = true">MAP</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button--large full"
            ng-click="tabs[2].active = true">FLOORS</button>
  </div>
</div>

