<div class="topcoat-button-bar full" >
  <div class="topcoat-button-bar__item">
    <a class="topcoat-button-bar__button--large full "
       ng-class="{ active: $state.includes('list') }"
       ui-sref="search-list">LIST</a>
  </div>
  <div class="topcoat-button-bar__item">
    <a class="topcoat-button-bar__button--large full"
       ng-class="{ active: $state.includes('map') }"
       ui-sref="search-map">MAP</a>
  </div>
  <div class="topcoat-button-bar__item">
    <a class="topcoat-button-bar__button--large full"
       ng-class="{ active: $state.includes('floor') }"
       ui-sref="search-floor">FLOORS</a>
  </div>
</div>

