<div ng-if="isSearchDrawerOpen">

  <div style="padding:10px;text-align: center;">
    <input class="topcoat-text-input"
           type="text"
           placeholder="Search"
           ng-click="displaySearch()"
           value="">

    <button class="topcoat-button"
            ng-click="toggleSearch();hideSearch()">Cancel</button>
  </div>

  <div ng-include="'views/partials/alphabet-nav.html'"></div>

  <div class="topcoat-list__container side-nav__list__container">

    <ul class="topcoat-list side-nav__list">

      <li class="topcoat-list__item side-nav__list__item"
          ng-repeat="link in browseByModel.list">

        <a class="side-nav__button"
           data-toggle="collapse"
           data-parent="#browse-by-nav"
           data-target="#c{{$index}}"
           ng-href="{{link.href ? '#/' + link.href : ''}}">

          <img class="img"
               data-src="holder.js/24x24/social"/>

          <span>{{link.title}}</span>

          <i class="glyphicon glyphicon-chevron-down"
             ng-show="link.subNav"></i>
        </a>

        <div id="c{{$index}}"
             class="collapse"
             ng-show="link.subNav"
             ng-class="sub_nav_class"
             style="padding:0;margin:0;">

          <a ng-repeat="subNavItem in link.subNav"
             style="padding:0;margin:0;display:block;"
             href="/#/{{subNavItem.href}}">

            <span>{{subNavItem.title}}</span>
          </a>
        </div>
      </li>
      <!--<li class="topcoat-list__item side-nav__list__item is-active">-->
        <!--<a href="#" class="side-nav__button">Item</a>-->
      <!--</li>-->
      <!--<li class="topcoat-list__item side-nav__list__item">-->
        <!--<a href="#" class="side-nav__button">Item</a>-->
      <!--</li>-->
    </ul>
  </div>

</div>
<div class="search-results"
     ng-class="{'show-search-results' : isSearchResultsOpen}"
     display-search-results="isSearchResultsOpen">
     <p>Search Results</p>
</div>