<div class="amc-search-floors">
  <div class="amc-search-floors__wrapper">
    <div class="amc-search-floors__scroll-area">
      <div class="amc-search-floors__item">
        <h2>
          <span>Building</span>
          <i class="icon-building1"></i>
        </h2>
        <ul>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>24</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>23</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>22</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>21</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>20</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>19</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>18</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>17</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>16</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>15</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building1 no-bridge">
            <div class="floor-result-container">
              <span class="floor-building1">14</span>
              <span class="floor-subject">Home Design</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building-1 no-bridge">
            <div class="floor-result-container">
              <span class="floor-building1">13</span>
              <span class="floor-subject">Home Design</span>
              <span class="result-count">2325</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>12</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>11</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building1 no-bridge">
            <div class="floor-result-container">
              <span class="floor-building1">10</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>9</span>
              <span class="floor-subject">Women's Apparel</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>8</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>7</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>6</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>5</span>
              <span>Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>4</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>3</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>2</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>1</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>B1</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
            <li class="no-bridge--white"></li>
          </li>
        </ul>
        <h2>
          <span>Building</span>
          <i class="icon-building1"></i>
        </h2>
      </div>

      <div class="amc-search-floors__item">
        <h2>
          <span>Building</span>
          <i class="icon-building2"></i>
        </h2>
        <ul>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li>
            <div class="floor-result-container">
              <span>18</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>17</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>16</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>15</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building2">
            <div class="floor-result-container">
              <span class="floor-building2">14</span>
              <span class="floor-subject">Home Design</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building2">
            <div class="floor-result-container">
              <span class="floor-building2">13</span>
              <span class="floor-subject">Home Design</span>
              <span class="result-count">2325</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>12</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>11</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building2">
            <div class="floor-result-container">
              <span class="floor-building2">10</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>9</span>
              <span class="floor-subject">Women's Apparel</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>8</span>
              <span>Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>7</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>6</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>5</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>4</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>3</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>2</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>1</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>B1</span>
              <span class="floor-subject">Mezzanine</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>B2</span>
              <span class="floor-subject">Registration</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
        </ul>
        <h2>
          <span>Building</span>
          <i class="icon-building2"></i>
        </h2>
      </div>
      <div class="amc-search-floors__item">
        <h2>
          <span>Building</span>
          <i class="icon-building3"></i>
        </h2>
        <ul>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>

          <li>
            <div class="floor-result-container">
              <span>15</span>
              <span class="floor-subject">Penthouse Theater</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building3">
            <div class="floor-result-container">
              <span class="floor-building3">14</span>
              <span class="floor-subject">Home Design</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building3">
            <div class="floor-result-container">
              <span class="floor-building3">13</span>
              <span>Home Design</span>
              <span class="result-count">2325</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>12</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>11</span>
              <span>Prom / Bridal / Occasions</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="hasResults-building3">
            <div class="floor-result-container">
              <span class="floor-building3">10</span>
              <span class="floor-subject">Prom / Bridal / Occasions</span>
              <span class="result-count">5</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge">
            <div class="floor-result-container">
              <span>9</span>
              <span class="floor-subject">Women's Apparel</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>8</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>7</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>6</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>5</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>4</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>3</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>2</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li>
            <div class="floor-result-container">
              <span>1</span>
              <span class="floor-subject">Fashion Accessories / Shoes</span>
              <i class="icon-arrow-down"></i>
            </div>
          </li>
          <li class="no-bridge--white"></li>
          <li class="no-bridge--white"></li>
        </ul>
        <h2>
          <span>Building</span>
          <i class="icon-building3"></i>
        </h2>
      </div>
    </div>
  </div>
</div>

