<div ng-if="isSearchDrawerOpen">
  <input type="text" class="topcoat-text-input" placeholder="Search" value="">
  <button class="topcoat-button"
        ng-click="toggleSearch()">Cancel</button>


<div class="topcoat-list__container side-nav__list__container">
    <ul class="topcoat-list side-nav__list"
            ng-repeat="link in browseByModel.list">

      <li class="topcoat-list__item side-nav__list__item">
        <a ng-click="!link.subNav ? toggleNav() : ''" class="side-nav__button" data-toggle="collapse" data-parent="#side-nav" data-target="#c{{$index}}" ng-href="{{link.href ? '#/' + link.href : ''}}">
          <img class="img" data-src="holder.js/24x24/social"/>
          <span>{{link.title}}</span>
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>


        <div id="c{{$index}}" ng-show="link.subNav" ng-class="sub_nav_class" class="collapse" style="padding:0;margin:0;">
          <a ng-click="toggleNav()" ng-repeat="subNavItem in link.subNav" style="padding:0;margin:0;display:block;" href="/#/{{subNavItem.href}}">
            <span>{{subNavItem.title}}</span>
          </a>
        </div>
      </li>
      <!--<li class="topcoat-list__item side-nav__list__item is-active">-->
        <!--<a href="#" class="side-nav__button">Item</a>-->
      <!--</li>-->
      <!--<li class="topcoat-list__item side-nav__list__item">-->
        <!--<a href="#" class="side-nav__button">Item</a>-->
      <!--</li>-->
    </ul>
  </div>

</div>