<div search-panel="isSearchPanelFaded" style="opacity:0">

  <div class="search-bar" style="position:relative">

    <label class="search-bar__search-input">
      <input class="topcoat-text-input full"
             type="text"
             placeholder="Search"
             ng-click="displaySearch()"
             ng-keyup="search()"
             ng-model="searchField">

      <span class="search-bar__clear-search-button"
            ng-click="clearSearchField()"></span>
    </label>

    <button class="topcoat-button"
            ng-click="toggleSearch();hideSearch()">Cancel</button>

  </div>

  <div class="amc-search-context-buttons"
       ng-controller="SearchbuttonbarCtrl"
       ng-include="'views/partials/search-context-buttons.html'"></div>

  <div class="topcoat-list__container side-nav__list__container">

    <ul class="topcoat-list side-nav__list">

      <li class="topcoat-list__item side-nav__list__item"
          ng-repeat="link in browseByModel">

        <a class="side-nav__button"
           ng-click="toggleListItem('search-'+$index, isCollapsed)"
           ng-href="{{link.href ? '#/' + link.href : ''}}">
          <img class="img"
               data-src="holder.js/24x24/social"/>
          <span>{{link.title}}</span>
          <i class="glyphicon glyphicon-chevron-down pull-right"
             ng-show="link.subNav"></i>
        </a>

        <div id="search-{{$index}}"
             collapsed="isCollapsed"
             ng-show="link.subNav"
             style="position:relative;padding:0;margin:0;">

          <div ng-include="'views/partials/alphabet-nav.html'"></div>

          <a ng-repeat="subNavItem in link.subNav"
             style="padding:0;margin:0;display:block;"
             href="/#/{{subNavItem.href}}">

            <span>{{subNavItem.title}}</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="amc-search-results"
     ng-class="{'show-search-results' : isSearchResultsOpen}"
     display-search-results="isSearchResultsOpen">

  <section ng-repeat="result in results.hits.hits">
    <div class="amc-search-results__result">
      <h2>
        <a ng-click="toggleSearch();hideSearch()" href="#/exhibitor/{{result._id}}">
          {{result.fields.EXHIBNAME}}
        </a>
        <i>icon</i>
        <span>Floor</span>
        <span>&dash;</span>
        <span>Room</span>
      </h2>

      <span class="topcoat-icon-button--large topcoat-icon--plus"
            ng-click="addMeToFavorites()">
      </span>
    </div>
    <div class="amc-search-results__result-detail">
      <img src="images/exhibitor/gallery-1.png"/>
    </div>
  </section>

  <!--<ul class="result">-->
    <!--<li ng-repeat="result in results.hits.hits">-->
      <!--<a ng-click="toggleSearch();hideSearch()" href="#/exhibitor/{{result._id}}">-->
        <!--<p>-->
          <!--{{result.fields.EXHIBNAME}}-->
        <!--</p>-->
        <!--<p>-->
          <!--<i>icon</i>-->
          <!--<span>Floor</span>-->
          <!--<span>&dash;</span>-->
          <!--<span>Room</span>-->
        <!--</p>-->

      <!--</a>-->
      <!--<span class="topcoat-icon-button--large topcoat-icon--plus"-->
            <!--ng-click="addMeToFavorites()">-->
      <!--</span>-->
      <!--<div class="search-result-detail">-->
        <!--<img src="images/exhibitor/gallery-1.png"/>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
</div>